.edb{
    background-image: url('nebula.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    padding-top: 2%;
    padding-left: 30%;

    color: white;
  }


  .eb{
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
  }